{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirim Email</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
</head>
<style>
    .body {
    background-color: rgb(0, 0, 0);
    color: white; /* Warna teks */
}
    .form-control {
      width: 100%;
      height: calc(2.25rem + 2px); /* Tinggi default form-control Bootstrap */
      border-radius: 0; /* Membuat sudut kotak */
      font-size: 0.9rem; /* Ukuran font input */
      font-family: Arial, sans-serif; 
    }
    .form-select{
        width: 100%;
      height: calc(2.25rem + px); /* Tinggi default form-control Bootstrap */
      border-radius: 0; 
      font-size: 0.9rem; /* Ukuran font input */
      font-family: Arial, sans-serif; 
    }
    
</style>

<body style="background-color: #111111; color: #ffffff;">
           <div class="">
        <div class="">
          <div class="col-md-8 mx-4">
            <div class="">
                <div class="u-clearfix u-sheet u-valign-middle u-sheet-1 " >
                    <div class="u-align-left u-container-style u-group u-group-1">
                      <div class="u-container-layout u-valign-middle u-container-layout-1">
                        <h1 id="registrasilabel" class="font-weight-bold mt-15">REGISTRASI</h1>
                        <p id="registrasidescription" class="u-text u-text-2">Silakan isi formulir ini jika Anda siap untuk mengamankan posisi Anda di Polda Kepri Fun Run 2024.</p>
                      </div>
              <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                  <div class="mb-3">
                    <label for="nama" class="form-label" class="nama">Name</label>
                    <input type="text" class="form-control form-control-lg" id="nama" name="nama" placeholder="Masukan Nama Anda" required="HARUS DI ISI">
                  </div>
                  <div class="mb-3">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Masukan Email Anda" required>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputOption " class="form-label ">Jenis Kelamin</label>
                    <select class="form-select form-select-lg" id="exampleInputOption " >
                        <option value="Laki-Laki">Laki-Laki</option>
                        <option value="Perempuan">Perempuan</option>
                     </select>
                    </div>
                     <div class="mb-3">
                        <label for="exampleInputName" class="form-label" class="nama">Tempat Lahir</label>
                        <input type="text" class="form-control form-control-lg" id="exampleInputName" placeholder="Masukan Tempat Lahir Anda" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label" class="nama">Tanggal Lahir</label>
                        <input type="date" class="form-control form-control-lg" id="exampleInputName" placeholder="Masukan Tanggal Lahir Anda" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label" class="nama">Nomor Handphone</label>
                        <input type="number" class="form-control form-control-lg" id="exampleInputName" placeholder="Masukkan nomor handphone (contoh: 081290901919)" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label" class="nama">Alamat</label>
                        <input type="text" class="form-control form-control-lg" id="exampleInputName" placeholder="Masukkan alamat Anda" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label" class="nama">Kota</label>
                        <input type="text" class="form-control form-control-lg" id="exampleInputName" placeholder="Masukkan Kota Anda" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label" class="nama">Provinsi</label>
                        <input type="text" class="form-control form-control-lg" id="exampleInputName" placeholder="Enter a valid province" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputOption" class="form-label">Warga Negara</label>
                        <select class="form-select form-select-lg" id="exampleInputOption">
                            <option value="Indonesia">Indonesia</option>
                            <option value="Sinngapura">Singapura</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Other">Lainnya</option>
                         </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputOption" class="form-label">Golongan Darah</label>
                            <select class="form-select form-select-lg" id="exampleInputOption">
                                <option value="a">A</option>
                                <option value="b">B</option>
                                <option value="ab">AB</option>
                                <option value="o">O</option>
                                <option value="Unknown">Tidak Diketahui</option>>
                             </select>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputOption" class="form-label">Jenis ID</label>
                                <select class="form-select form-select-lg" id="exampleInputOption">
                                    <option value="KTP">KTP</option>
                                    <option value="Kartu Pelajar">Kartu Pelajar</option>
                                    <option value="SIM">SIM</option>
                                    <option value="Passport">Passport</option>
                                 </select>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputName" class="form-label" class="nama">Nomor ID</label>
                                    <input type="text" class="form-control form-control-lg" id="exampleInputName" placeholder="Masukkan nomor ID Anda" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputName" class="form-label" class="nama">Upload KTP/ID Anda</label>
                                    <input type="file" class="form-control form-control-lg" id="exampleInputName" placeholder="jpg/jpeg/png" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputName" class="form-label" class="nama">Nama Kontak Darurat</label>
                                    <input type="text" class="form-control form-control-lg" id="exampleInputName" placeholder="Masukkan nama kontak darurat" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputName" class="form-label" class="nama">Nomor Telepon Kontak Darurat</label>
                                    <input type="tel" class="form-control form-control-lg" id="exampleInputName" placeholder="Masukkan nomor Telepon kontak darurat" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Memiliki Riwayat Penyakit Jantung</label><br>
                                    <div class="form-check form-check">
                                      <input class="form-check-input" type="radio" name="gender" id="jantung" value="male">
                                      <label class="form-check-label" for="jantungya">Ya</label>
                                    </div>
                                    <div class="form-check form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="jantung" value="female">
                                        <label class="form-check-label" for="jantungtidak">Tidak</label>
                                    </div>
                                <div class="mb-3">
                                    <label class="form-label">Memiliki Riwayat Penyakit Hipertensi</label><br>
                                    <div class="form-check form-check">
                                      <input class="form-check-input" type="radio" name="Hipertensi" id="hipertensiya" value="Hipertensiya">
                                      <label class="form-check-label" for="ya">Ya</label>
                                    </div>
                                    <div class="form-check form-check">
                                        <input class="form-check-input" type="radio" name="Hipertensi" id="hipertensitidak" value="hipertensitidak">
                                        <label class="form-check-label" for="tidak">Tidak</label>
                                    </div>
                                <div class="mb-3">
                                    <label class="form-label">Memiliki Riwayat Penyakit Kronik/Tahunan Lainnya (Diabetes Melitus, Ginjal, Hepatitis, dll)</label><br>
                                    <div class="form-check form-check">
                                      <input class="form-check-input" type="radio" name="lain" id="lainya" value="lainya">
                                      <label class="form-check-label" for="ya">Ya</label>
                                    </div>
                                    <div class="form-check form-check">
                                        <input class="form-check-input" type="radio" name="lain" id="laintidak" value="laintidak">
                                        <label class="form-check-label" for="tidak">Tidak</label>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Memiliki Riwayat Penyakit Epilepsi dan/atau Gangguan Saraf Lainnya</label><br>
                                        <div class="form-check form-check">
                                          <input class="form-check-input" type="radio" name="Epilepsi" id="genderMale" value="male">
                                          <label class="form-check-label" for="ya">Ya</label>
                                        </div>
                                        <div class="form-check form-check">
                                            <input class="form-check-input" type="radio" name="Epilepsi" id="genderFemale" value="female">
                                            <label class="form-check-label" for="tidak">Tidak</label>
                                        </div>
                                    <div class="mb-3">
                                        <label class="form-label">Memiliki Riwayat Penyakit Asma/Saluran Pernafasan Lainnya</label><br>
                                        <div class="form-check form-check">
                                          <input class="form-check-input" type="radio" name="Asma" id="genderMale" value="male">
                                          <label class="form-check-label" for="ya">Ya</label>
                                        </div>
                                        <div class="form-check form-check">
                                            <input class="form-check-input" type="radio" name="Asma" id="genderFemale" value="female">
                                            <label class="form-check-label" for="tidak">Tidak</label>
                                        </div>
                                    <div class="mb-3">
                                        <label class="form-label">Memiliki Asuransi BPJS dan/atau Asuransi Lainnya</label><br>
                                        <div class="form-check form-check">
                                          <input class="form-check-input" type="radio" name="BPJS" id="genderMale" value="male">
                                          <label class="form-check-label" for="ya">Ya</label>
                                        </div>
                                        <div class="form-check form-check">
                                            <input class="form-check-input" type="radio" name="BPJS" id="genderFemale" value="female">
                                            <label class="form-check-label" for="tidak">Tidak</label>
                                        </div>
                                    <div class="mb-3">
                                        <label class="form-label">Memiliki Riwayat Alergi Terhadap Obat Tertentu</label><br>
                                        <div class="form-check form-check">
                                          <input class="form-check-input" type="radio" name="Alergi" id="genderMale" value="male">
                                          <label class="form-check-label" for="ya">Ya</label>
                                        </div>
                                        <div class="form-check form-check">
                                            <input class="form-check-input" type="radio" name="Alergi" id="genderFemale" value="female">
                                            <label class="form-check-label" for="tidak">Tidak</label>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputName" class="form-label" class="nama">Jika Iya Sebutkan</label>
                                            <input type="text" class="form-control form-control-lg" id="exampleInputName" placeholder="Sebutkan Alergi" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputName" class="form-label" class="nama">Nama pada NIB</label>
                                            <input type="text" class="form-control form-control-lg" id="exampleInputName" placeholder="Nama pada BIB" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputOption" class="form-label">Ukuran Baju</label>
                                            <select class="form-select form-select-lg" id="exampleInputOption">
                                                <option value="S">S</option>
                                                <option value="M">M</option>
                                                <option value="L">L</option>
                                                <option value="XL">XL</option>
                                                <option value="XXL">XXL</option>
                                            </select>
                                            <div class="mb-3">
                                                <label for="exampleInputName" class="form-label" class="nama">Struk/Nota Konfirmasi Pembayaran</label>
                                                <input type="file" class="form-control form-control-lg" id="exampleInputName" placeholder="jpg/jpeg/png" required>
                                            </div>
                                            <!-- <button type="submit" class="btn btn-primary btn-sm w-100">Submit</button> -->
                                            <div class="u-align-left u-form-group u-form-submit">
                                                <a class="u-border-2 u-border-white u-btn u-btn-rectangle u-btn-submit u-button-style u-none u-btn-1"></a>
                                                <input type="submit" name="submit" value="submit" class="u-form-control-hidden">
                                              </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form.as_p }}
                </body>
                <script>
                function showSuccessMessage() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('success')) {
                const email = urlParams.get('email');
                alert(`Email berhasil dikirim ke ${email}!`);
            }
        }

        // Panggil fungsi saat halaman dimuat
        window.onload = showSuccessMessage;
</script>
</html>